#bottomside
  display: none
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  z-index: 100
  background: rgba(0, 0, 0, .8)
  .menus_items
    height: 3rem
    margin: 0 auto
    padding: 0 12px
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    .menus_item
        flex: 1
        .site-page
            display: flex
            flex-direction: column
            align-items: center
            color: #fff
            i
                font-size: 22px
                padding-top: 6px
            span
                font-size: 12px