#page
  .category-lists
    .category-title
      font-size: 2em

      +maxWidth768()
        font-size: 1.5em
        
    .category-list
      a
        color: var(--font-color)
        font-size: 1.2em
        line-height: 1.7;

        &:hover
          color: $text-hover

      .card-category-list-icon
        width: 1.5em
        height: 1.5em
        vertical-align: -0.4em
        margin-right: .6rem

      .category-list-count
        color: $theme-meta-color
        font-size: 14px

        &:before
          content: '（'

        &:after
          content: '）'

    ul
      list-style: none
      counter-reset: li
      margin-top: .4rem

      li
        position: relative
        margin: 1rem 0
        padding: .4rem .8rem
        border-top: 1px solid #eee
        border-bottom: 1px solid #eee
        overflow: hidden;

        &:hover
          &:before
            border-color: $pseudo-hover
            
      ul
        display: flex;
        flex-wrap: wrap;
        position: relative
        &:before
          content: ''
          width: 110%
          height: 1px
          background-color: #eee
          position: absolute
          top: 0
          left: -5%
          right: 0

        > li:nth-child(5n)
          &:after
            display: none
        
        +maxWidth768()
          > li:nth-child(3n)
            &:after
              display: none

        .category-list-item
          display: flex
          flex-direction: column
          align-items: center
          width: 20%
          border: 0
          margin: .6rem 0 .2rem
          padding: 0
          position: relative

          +maxWidth768()
            width: 33.33%
          
          &:after
            content: ''
            width: 1px
            height: 100px
            background-color: #eee
            position: absolute
            top: 10px
            right: 0

          .card-category-list-icon
              width: 3.6em
              height: 3.6em
              margin-right: 0;

              +maxWidth768()
                width: 3em
                height: 3em

          .category-list-link
            display: flex
            flex-direction: column
            align-items: center
            margin-bottom: 0
            
            .card-category-list-name
              font-size: 1em
              white-space: nowrap
              
              +maxWidth768()
                font-size: .9em
            
            .category-list-count
              +maxWidth768()
                font-size: 12px
